html {
    color: black;
}

/* .ng-invalid.ng-touched:not(form) {
    border: 1px solid;
} */

.form-title {
    margin-top: 30px;
}

.form-subtitle {
    margin-top: 10px;
}

.form {
    margin-top: 40px;
}
