<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço de Cadastro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-light brand " style="background-color: #511262;">
            <h4 class="p-2 text-white" style="font-family: 'Playpen Sans', cursive;">Cadastro do Cliente</h4>
          </nav>
    </header>
</body>
</html>