<div>
    <h4 class="form-title m-6 text-justify p-4 text-form" style="font-family: 'Sniglet', cursive;">Cadastre-se</h4>
    <h4 class="text-justify form-subtitle p-4">
        Bem-vindo ao nosso serviço! Por favor, preencha corretamente o formulário abaixo para criar sua conta.
    </h4>
</div>
<form #f="ngForm" (ngSubmit)="onSubmit()" class="">
    <div class="basics">
        <h5 class="titles mx-4" style="font-family: 'Sniglet', cursive;">Básico</h5>
        <div class="p-4">
            <label for="name" class="pb-2">Nome</label>
            <input type="text" class="form-control input-form" id="name" [(ngModel)]="clients.name" name="name" placeholder="Nome completo"
            required #name="ngModel">
        <div class="text-danger" *ngIf="!name.valid && name.touched">Campo obrigatório com no minímo 5 letras.</div>
        </div>
        <mat-form-field class="date-picker mx-auto px-4">
            <label for="cpf" class="pb-2">Data de nascimento</label>
            <input type="text" matInput [matDatepicker]="picker" placeholder="Escolha uma data" [(ngModel)]="clients.birthDate" name="birthDate" required #birthDate="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div class="text-danger" *ngIf="!birthDate.valid && birthDate.touched">O usuário deve ter no mínimo 18 anos.</div>
        </mat-form-field>
        <div class="p-4 mx-auto">
            <label for="cpf" class="pb-2">CPF</label>
            <input type="text" class="form-control input-form" id="cpf" [(ngModel)]="clients.cpf" name="cpf" placeholder="00000000000"
            required #cpf="ngModel">
            <div class="text-danger" *ngIf="!cpf.valid && cpf.touched">Informe um CPF válido.</div>
        </div>
        <div class="p-4 mx-auto">
            <label for="email" class="pb-2 form-group">E-mail</label>
            <input type="text" class="form-control input-form" id="email" [(ngModel)]="clients.email" name="email" placeholder="email@exemplo.com"
            required email #email="ngModel">
            <div class="text-danger" *ngIf="!email.valid && email.touched">Informe um e-mail válido.</div>
        </div>
        <div class="form-group mx-auto p-4">
            <label for="phone" class="pb-2">Telefone</label>
            <input type="text" class="form-control input-form" id="phone" [(ngModel)]="clients.phone" name="phone" placeholder="1190000-0000"
            required #phone="ngModel">
            <div class="text-danger" *ngIf="!phone.valid && phone.touched">Informe um telefone válido.</div>
        </div>
    </div>
    <div class="mx-auto">
        <h5 class="titles mx-4" style="font-family: 'Sniglet', cursive;">Financeiro</h5>
        <div class="col-md-6 p-4">
            <label for="income" class="pb-2">Renda</label>
            <input type="text" class="form-control input-form financial" id="income" [(ngModel)]="clients.financialData.income" name="income" placeholder=""
            required #income="ngModel">
        </div>
        <div class="form-group col-md-6 p-4">
            <label for="patrimony" class="pb-2">Patrimônio</label>
            <input type="text" class="form-control input-form financial" id="patrimony" [(ngModel)]="clients.financialData.patrimony" name="patrimony" placeholder=""
            required #patrimony="ngModel">
            <div class="text-danger" *ngIf="!patrimony.valid && patrimony.touched">A soma da renda e do patrimônio precisar ser superior a 1000.</div>
        </div>
    </div>
    <div class="mx-auto address">
        <h5 class="titles mx-4" style="font-family: 'Sniglet', cursive;">Endereço</h5>
        <div class="col-md-2 p-4">
            <label for="zipCode" class="pb-2">CEP</label>
            <input type="text" class="form-control" id="zipCode" [(ngModel)]="clients.addressData.zipCode" name="zipCode" placeholder="Ex.: 00000000" required #zipCode="ngModel"
            (blur)="searchZipCode()">
            <!-- <div class="text-muted mt-2 p-1">Informe um CEP válido.</div> -->
        </div>
        <div class="col-md-8 p-4">
            <label for="address" class="pb-2">Rua</label>
            <input type="text" class="form-control" id="address" [(ngModel)]="clients.addressData.address" name="address" placeholder="Preenchimento automático" #address="ngModel">
        </div>
        <div class="col-md-2 p-4">
            <label for="number" class="pb-2">Número</label>
            <input type="text" class="form-control" id="number" [(ngModel)]="clients.addressData.number" name="number" required #number="ngModel">
            <div class="text-danger" *ngIf="!number.valid && number.touched">Informe um número.</div>
        </div>
    </div>
    <div class="mx-auto">
        <div class="col-md-5 p-4">
            <label for="district" class="pb-2">Bairro</label>
            <input type="text" class="form-control" id="district" [(ngModel)]="clients.addressData.district" name="district" placeholder="Preenchimento automático" required #district="ngModel">
        </div>
        <div class="col-md-5 p-4">
            <label for="city" class="pb-2">Cidade</label>
            <input type="text" class="form-control" id="city" [(ngModel)]="clients.addressData.city" name="city" placeholder="Preenchimento automático" #city="ngModel">
        </div>
        <div class="form-group col-md-2 p-4">
            <label for="state" class="pb-2">Estado</label>
            <input type="text" class="form-control" id="state" [(ngModel)]="clients.addressData.state" name="state" placeholder="Preenchimento automático" #state="ngModel">
        </div>
    </div>
    <div class="mx-auto pass">
        <h5 class="titles mx-4 title-security" style="font-family: 'Sniglet', cursive;">Segurança</h5>
        <div class="col-md-6 p-4">
            <label for="exampleInputPassword1" class="pb-2">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="clients.securityData.password" name="password" placeholder="Senha" required pattern="^(?=.*[0-9])(?=.*[A-Za-z])(?=.*[@!$#%^&*])[A-Za-z0-9@!$#%^&*]{8,}$" #password="ngModel">
            <div class="text-danger mt-2" *ngIf="!password.valid && password.touched">A senha deve conter 8 caracters com no mínimo um número, uma letra e um símbolo.</div>
        </div>
        <div class="col-md-6 p-4">
            <label for="exampleInputPassword2" class="pb-2">Confirmação de senha</label>
            <input type="password" class="form-control" id="exampleInputPassword2" [(ngModel)]="clients.securityData.passwordConfirmation" name="passwordConfirmation" placeholder="Confirmação de senha" required pattern="^(?=.*[0-9])(?=.*[A-Za-z])(?=.*[@!$#%^&*])[A-Za-z0-9@!$#%^&*]{8,}$">
            <div class="text-muted">Informe a mesma senha.</div>
        </div>
    </div>
    <div class="p-4 text-end container-button mx-auto">
        <button type="submit" class="button btn btn-primary" style="background-color: #380F43" [disabled]="!f.valid">Criar</button>
    </div>
</form>